<p>On the last Friday of every month, Apartment List abandons the convenience of our usual catered lunch in favor of getting some fresh air. The more we grow, the harder it is to see people who aren't on our immediate teams, so we shuffle ourselves into random groups for a chance to talk to (or even meet for the first time) people we otherwise miss out on.
</p>
<p>
This application aids the above process by shuffling all users into groups of 3-5 people. To assemble groups just click the giant button on the home page. The application will pull all users from the database and arrange them in randomized groups.</p>
