<div class="form-group row">
  <label for="first-name" class="col-2 col-form-label">First Name</label>
  <input id="first-name" class="form-control" placeholder="Abraham" ng-model="firstname">
</div>
<div class="form-group row">
  <label for="last-name" class="col-2 col-form-label">Last Name</label>
  <input id="last-name" class="form-control" placeholder="Lincoln" type="text" ng-model="lastname">
</div>
<div class="form-group row">
  <label for="last-name" class="col-2 col-form-label">Team</label>
  <input id="team" class="form-control" placeholder="1" type="text" ng-model="team">
</div>
<div class="form-group row">
  <button ng-click="createUser(firstname, lastname, team)" class="btn">Add User</button>
</div>